*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}   
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


/*кнопка*/
.button{
  position: fixed;
  width: 10%;
  height: 4rem;
  border-radius: 10px;
  background-color: hotpink;
  bottom: 8px;
right: 4px;
text-align: center;
color: white;
line-height: 4rem;
}
.button:hover{
  cursor: pointer;
}



/*Блок 1*/
header{
    width: 100%;
    position: relative;
}
header:after {
  	content: ".";
  	display: block;
  	height: 0;
  	clear: both;
  	visibility: hidden;
  	}
.container{
    width: 70%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.background_video{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

video{
  z-index: -1;
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.head_text{
  margin-top: 3%;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
    
}
.photo_product-and-list_product{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.photo_product{
    width: 47.5%;
    height: 20rem;
    
    margin-right: 5%;
}
.photo_product img{
   display: block;
   margin: auto auto;
    height: 100%;
}
.list_product-container{
  width: 47.5%;
  
}
.list_product{
  display: flex;
  margin: auto auto;
  width: 80%;
  height: 100%;
  justify-content: center;
  
}
.list_product ul{
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

/*Блок 2*/
.second_block{
  margin: auto auto;
  width: 100%;
  
  background: -webkit-linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
  background: -moz-linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
  background: linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
}
.main-ingridients{
  margin: auto auto;
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.ingridients-column{
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 600px;
}
.ingrid-and-photo{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.round_photo{
  margin: auto auto;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
}
.round_photo img{
  max-height: 100%;
}
.ingrid{
  margin-top: 2%;
  font-size: 1rem;
  text-align: center;
}
.ingridients-main-product-photo{
  margin: auto auto;
  width: 20%;
  height: 20rem;
  text-align: center;
}
.ingridients-main-product-photo img{
  width: 100%;
}

/*Блок 3*/



*{
	margin: 0;
	padding: 0;
}

.back_slider_main{
  width: 100%;
  margin: auto auto;
  background: -webkit-linear-gradient(180deg, rgb(245, 246, 246), rgb(1, 1, 1));
  background: -moz-linear-gradient(180deg, rgb(245, 246, 246), rgb(1, 1, 1));
  background: linear-gradient(180deg, rgb(245, 246, 246), rgb(1, 1, 1));
}
.slider-main{
	width: 70%;
	height: 600px;
	margin: auto auto;
  overflow: hidden;
}
.navigation{
	position: absolute;
	display: flex;
	left: 50%;
  margin-top: 3%;
	transform: translateX(-50%);
}
.bar{
	width: 30px;
	height: 10px;
	margin: 16px;
	cursor: pointer;
	background-color: black;
	opacity: 0.5;
	border-radius: 3px;
	transition: all .4s ease;
	
}
.bar:hover{
	opacity: 0.8;
	transform:scale(1.1);
}
input[name='r']{
	position: absolute;
	visibility: hidden;
}



.slides-blocks{
	width: 300%;
	height: 100%;
	display: flex;
	
}
.container_slides_block{
	width: 33.3333%;
	
	display: flex;
	justify-content: center;
	transition: all .6s ease;
}


.slide-block{
	width: 30%;
	margin: auto auto;
	height: 22rem;
	display: flex;
	flex-direction: column;
  
}

.photo_otzyv{
	width: 100%;
}
.photoOtz{
	margin: auto auto;
	width: 50%;
	height: 150px;
	
	text-align: center;
}
.photoOtz img{
	width: 100%;
  max-height: 100%;
}
.name_otzyv{
	text-align: center;
	margin: auto auto;
	font-size: 1.3rem;
	font-weight: 650;
	
}
.text_otzyv{
	text-align: center;
	margin: auto auto;
	font-size: 1.3rem;
  color: aliceblue;
  opacity: 0.8;
	
}

#r1:checked ~ .s1{
	margin-left: 0;
}
#r2:checked ~ .s1{
	margin-left: -33.3333%;
}
#r3:checked ~ .s1{
	margin-left: -66.6666%;
}

/*Блок 4*/


.promo_container{
  width: 100%;
  margin: auto auto;
  background: -webkit-linear-gradient(180deg, rgb(112, 158, 216) 12%, rgb(254, 255, 255));
  background: -moz-linear-gradient(180deg, rgb(112, 158, 216) 12%, rgb(254, 255, 255));
  background: linear-gradient(180deg, rgb(112, 158, 216) 12%, rgb(254, 255, 255));
}
.promo_container_block{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto auto;
}
.block-photo-description{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
.photo_man{
  width: 45%;
  
}
.photo_man img{
  width: 100%;
}
.description_promo{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.description_promo p{
  font-size: 1.3rem;
  font-weight: 600;
}
.characteristic_man{
  margin-top: 2%;
}
.characteristic_man ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}

/*Блок 5*/

.form{
  width: 100%;
  background: -webkit-linear-gradient(180deg, rgb(241, 193, 250), rgb(239, 239, 239));
  background: -moz-linear-gradient(180deg, rgb(241, 193, 250), rgb(239, 239, 239));
  background: linear-gradient(180deg, rgb(241, 193, 250), rgb(239, 239, 239));
}
.form_block{
  width: 70%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  
}
.form_product_name{
  margin-top: 5%;
  width: 100%;
  text-align: center;
  
}
.form_timer{
  margin-top: 3%;
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}
.form_timer p{
  font-size: 1.5rem;
}

.two_blocks_form_price{
  display: flex;
  justify-content: space-between;
  
  height: 35rem;
}
.form_price{
  display: flex;
  flex-direction: column;
  width: 45%;
}
.photo_product_price{
  width: 70%;
  margin: auto auto;
  text-align: center;
}
.photo_product_price img{
  width: 80%;
}
.product_price{
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.actual-price{
  font-weight: bold;
  font-size: 2rem;
  
}



.old-price{
  text-decoration: line-through;
  font-size: 1.2rem;
}

.form-blocks-inputs{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name_form{
  height: 4rem;
  border-radius: 10px;
}
.phone-form{
  height: 4rem;
  border-radius: 10px;
}

.form_button{
  width: 50%;
  height: 4rem;
  background-color: green;
  border: none;
  border-radius: 10px;
  color:rgb(254, 255, 255);
  font-size: 1.4rem;
  margin: 0 auto;
}
.form_button:hover{
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
}










@media screen and (max-width: 700px){
  /*Блок 1*/

.container{
  width: 100%;
}

.photo_product-and-list_product{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photo_product{
  height: 30%;
  margin-right: 0;
  margin: auto auto;
}
.photo_product img{
  width: 100%;
  height: auto;
}
.list_product-container{
width: 100%;
}
.list_product{
display: flex;
margin: auto auto;
width: 80%;
height: 100px;
justify-content: center;
}



/*Блок 2*/
.second_block{
  margin: auto auto;
  width: 100%;
  
  background: -webkit-linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
  background: -moz-linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
  background: linear-gradient(0deg, rgb(79, 65, 83) 4%, rgb(143, 123, 147) 26%, rgb(238, 229, 246));
}
.main-ingridients{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.ingridients-column{
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 600px;
}

.ingridients-main-product-photo{
  display: none;
}



/*Блок 3*/



.slider-main{
	width: 100%;
	height: 600px;
	margin: auto auto;
  overflow: hidden;
}
.navigation{
	position: absolute;
	display: flex;
	left: 50%;
  margin-top: 3%;
	transform: translateX(-50%);
}

.slide-block{
	width: 70%;
	margin: auto auto;
	height: 22rem;
	display: flex;
	flex-direction: column;
}
.photo_otzyv{
	width: 100%;
}
.photoOtz{
  position: relative;
	margin: auto auto;
	width: 50%;
	height: 150px;
	text-align: center;
  overflow: hidden;
}
.photoOtz img{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-height: 200%;
}


/*Блок 4*/



.promo_container_block{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto auto;
}
.block-photo-description{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.photo_man{
  width: 90%;
}
.photo_man img{
  width: 100%;
}
.description_promo{
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.characteristic_man{
  text-align: center;
 margin: auto auto;
  margin-top: 2%;
}
.characteristic_man ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}

/*Блок 5*/


.form_block{
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  
}


.two_blocks_form_price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.form-blocks-inputs{
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}
.name_form{
  height: 4rem;
  border-radius: 10px;
}
.phone-form{
  height: 4rem;
  border-radius: 10px;
}

.form_button{
  width: 50%;
  height: 4rem;
  background-color: green;
  border: none;
  border-radius: 10px;
  color:rgb(254, 255, 255);
  font-size: 1.4rem;
  margin: 0 auto;
}
.form_button:hover{
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
}

}